@import 'styles/variables'

.container
  display: flex
  justify-content: flex-end
  align-items: center
  
  .burger__icon
    background: $accent-color
    position: relative
    &::after
      content: ''
      position: absolute
      top: 0
      left: 100%
      width: 5rem
      height: 100%
      background: $accent-color

    svg
      height: 3rem
      z-index: 10
      cursor: pointer
  
  .menu__container
    transform: translateX(100%)
    opacity: 0
    transition: .8s cubic-bezier(0.4, 0, 0.2, 1)
    &.active
      transform: translateX(0)
      opacity: 1

  ul
    display: flex
    justify-content: space-between
    align-items: center
    list-style-type: none
    padding: 0
    margin-right: 6rem

    li
      margin-right: 5rem
      &:last-child
        margin-right: 0
      
      a
        font-size: 1.8rem
        font-weight: 500
        font-family: $main-font