@import 'styles/variables'

.skill__container
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    margin: 5%
    p
        width: 30%
        font-family: $main-font
        font-weight: 500
        font-size: 2rem
        color: $primary-color
    h2
        width: 70%
        font-family: $accent-font
        font-weight: 500
        font-size: 8rem
        color: $primary-color
        text-transform: uppercase
    .text__container
        width: 100%
        display: flex
        flex-direction: column
        justify-content: space-between
        p
            width: 60%
            margin: 0% 15%
            font-family: $main-font
            font-weight: 500
            font-size: 2rem
            color: $primary-color
        .button
            margin: 5% 15%
            .read__more
    hr
        color: $primary-color