// Importation des fichiers
@import 'styles/variables'

// Importation des polices
@font-face
 font-family: 'Agenda'
 src: url("./fonts/AgendaLight.otf") format("opentype")
 font-weight: 300

@font-face
 font-family: 'Agenda'
 src: url("./fonts/AgendaRegular.ttf") format("truetype")
 font-weight: 400

@font-face
 font-family: 'Agenda'
 src: url("./fonts/AgendaMedium.ttf") format("truetype")
 font-weight: 500

@font-face
 font-family: 'Agenda'
 src: url("./fonts/AgendaBold.ttf") format("truetype")
 font-weight: 700

@font-face
 font-family: 'TheNightWatch'
 src: url("./fonts/TheNightWatch.ttf") format("truetype")
 font-weight: 400

// Le Sass pour toutes les pages
*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 62.5%
  overflow-x: hidden

body
  background: $accent-color
  min-width: calc(100vw - 45px * 2)
  min-height: calc(100vh - 25px * 2)
  font-family: $main-font
  font-size: 1.6rem
  overflow-x: hidden
  color: $primary-color
  @media screen and ( max-width: 520px )
    min-height: calc(100vh - 20px * 2)
    min-width: calc(100vw - 20px * 2)

a
  color: $primary-color
  text-decoration: none
  position: relative
  &::before
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: .2rem
    background: $primary-color
    transition: width .5s cubic-bezier(0.4, 0, 0.2, 1)
  &:hover
    &::before
      width: 0

img
  user-select: none

// Pour changer la sélection des éléments
*::selection
  background: $primary-color
  color: $accent-color

// Le Sass de la page uniquement
.container
  padding: 25px 45px
  position: relative
  min-height: 100vh
  @media screen and ( max-width: 520px )
    padding: 20px