@import 'styles/variables'

.container
  display: flex
  justify-content: space-between
  align-items: center
  width: calc(100% - 45px * 2)
  position: absolute
  z-index: 9999

  .logo__container
    font-size: 1.8rem
    font-weight: 500
    font-family: $main-font
    
    .logo__url
      display: inline