@import 'styles/variables'

.container
  display: flex
  justify-content: space-between
  align-items: center
  width: calc(100% - 45px * 2)
  position: absolute
  bottom: 45px

  .all_projects__link
    font-size: 1.8rem
    font-weight: 500
    font-family: $main-font
    display: flex
    justify-content: center
    align-items: center

    svg
      height: 1.2rem
      margin-right: .5rem

  .contact__logo

    a
      &:first-child
        margin-right: 1.5rem

      svg
        height: 2.5rem
        cursor: pointer